In [1]:
import pandas as pd
import os

In [2]:
data = pd.read_csv("BoardingData.csv", sep=';')

In [3]:
data = data.rename(columns={"PassengerFirstName" : "FirstName", \
             "PassengerSecondName" : "SecondName", \
             "PassengerLastName" : "LastName", \
             "PassengerSex" : "Gender", \
             "PassengerBirthDate" : "BirthDate", \
             "PassengerDocument" : "Document", \
             "BookingCode" : "BookingCode", \
             "TicketNumber" : "TicketNumber", \
             "Baggage" : "Baggage", \
             "FlightDate" : "Date", \
             "FlightTime" : "Time", \
             "FlightNumber" : "FlightNumber", \
             "CodeShare" : "CodeShare", \
             "Destination" : "ArrivalCity" })

In [4]:
data.head()

,FirstName,SecondName,LastName,Gender,BirthDate,Document,BookingCode,TicketNumber,Baggage,Date,Time,FlightNumber,CodeShare,ArrivalCity
0,SAVELII,VIKTOROVICH,RUSANOV,Male,03/10/1983,2879 096860,FRNINO,6625956945991971,Transit,2017-03-22,06:05,SU1369,Own,Moscow
1,LEV,MARKOVICH,ISAEV,Male,12/13/1975,1788 173211,Not presented,1643715499224676,Registered,2017-03-18,22:10,SU1180,Own,Volgograd
2,NIKOLAI,I.,NIKOLSKII,Male,12/26/1990,4396 926588,VWNYGF,6247422701565929,Transit,2017-03-18,22:10,SU1180,Own,Volgograd
3,ANATOLII,PETROVICH,SHILOV,Male,05/24/1997,2595 919752,WQFFUE,Not presented,Registered,2017-03-18,22:10,SU1180,Own,Volgograd
4,MIROSLAVA,VIACHESLAVOVNA,SEMENOVA,Female,01/31/1976,6775 516990,Not presented,Not presented,Registered,2017-03-12,11:45,SU6284,Own,Moscow

In [5]:
data['FirstName'] = data['FirstName'].apply(lambda x : str(x).lower())
data['SecondName'] = data['SecondName'].apply(lambda x : str(x).lower())
data['LastName'] = data['LastName'].apply(lambda x : str(x).lower())
data['Gender'] = data['Gender'].apply(lambda x: str(x).lower())
data['BirthDate'] = data['BirthDate'].apply(lambda x : str(x).split('/')[2] + '-' + str(x).split('/')[0] + '-' + str(x).split('/')[1])
data['Document'] = data['Document'].apply(lambda x : str(x).lower())
data['BookingCode'] = data['BookingCode'].apply(lambda x : None if str(x).lower() == 'not presented' else str(x))
data['TicketNumber'] = data['TicketNumber'].apply(lambda x : None if str(x).lower() == 'not presented' else str(x))
data['Baggage'] = data['Baggage'].apply(lambda x : None if str(x).lower() == 'none' else str(x).lower())
data['Date'] = data['Date'].apply(lambda x : str(x).lower())
data['Time'] = data['Time'].apply(lambda x : str(x).lower())
data['FlightNumber'] = data['FlightNumber'].apply(lambda x : str(x))
data['CodeShare'] = data['CodeShare'].apply(lambda x : str(x))
data['ArrivalCity'] = data['ArrivalCity'].apply(lambda x : str(x).lower())

In [6]:
data.to_csv("boarding_data_processed.csv", sep=',', na_rep='')